<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>

  {% if excerpt %}
  <meta name="description" content="{{ post.data.excerpt }}">
  {% endif %}

  <link rel="stylesheet" href="/_css/main.css" type="text/css" media="all">

</head>
  <body id="top">

    <section>
      <header>
      	<p><a href="/">My Site</a></p>
				<p><a href="/archives/all/">All Posts</a></p>
				<p><a href="/archives/tags/">All Tags</a></p>
      </header>

      <div class="content">
				{% block content %}{% endblock %}

				{% if layout in [ 'post'] %}

					<li>
						<p><strong>Published:</strong></p>
						<p>{{ page.date | dateformat }}</p>
					</li>

					{% if page.modified %}
					<li>
						<p><strong>Modified:</strong></p>
						<p>{{ page.modified | dateformat }}</p>
					</li>
					{% endif %}

					{% if tags | length %}
					<li>
						<p><strong>Tags:</strong></p>
						<p>
							{%- for tag in tags -%}
								<a href="/tag/{{ tag | slug }}">{{ tag }}</a><br>
							{%- endfor -%}
						</p>
					</li>
					{% endif %}

				{% endif %}
    	</div>
    </section>

    <footer>
				<p>Proudly built with <strong>Eleventy</strong></p>
  			<p>This work is licensed under a
  			<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>. This means you are free to copy and redistribute the material in any medium or format, and remix, transform, and build upon the material.
  			</p>
  			<p>
  				<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
  			</p>
  	</footer>
  </body>
</html>
