{% extends "_html.njk" %}

{% from "macros/postListing.njk" import postListing %}

{% block content %}
<main>
  <h1>{{ title }}</h1>
  {{ content | safe }}
  <ul>
  {% for post in collections.postsCollection %}
    {{ postListing(post) }}
  {% endfor %}
  </ul>
</main>
{% endblock %}
